<div>
    <h2 mat-dialog-title><a href={{data.element.html_url}}>{{data.element.login}}</a></h2>
    <div mat-dialog-content>
        <h3>Number of followers:<app-table-specific-column [url]=data.element.followers_url></app-table-specific-column>
        </h3>
        <h3>Number of repos:<app-table-specific-column [url]=data.element.repos_url></app-table-specific-column>
        </h3>
    </div>
    <img src={{data.element.avatar_url}} height="150px">
</div>