<mat-form-field class="example-full-width">
     <input matInput matTooltip="Enter location and press enter" placeholder="Location" (keyup.enter) ="onKeyUpHandler($event)"> 
</mat-form-field> 
<app-table-result [location] = "inputValue"></app-table-result>