<div class="mat-elevation-z8">
    <div class="button-wrapper">
        <span *ngIf="data.length">{{pageStart}} - {{pageEnd}} of {{total}}</span>
        <button mat-flat-button (click)="handlePrevious()">Previous</button>
        <button mat-flat-button (click)="handleNext()">Next</button>
    </div>
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let index; index as i"> {{i + pageStart}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header (click) = "sortByName()"> Name </th>
            <td mat-cell *matCellDef="let element" (click) = "openDialogInfo(element)" class = "clickable"> {{element.login}} </td>
        </ng-container>

        <ng-container matColumnDef="repos">
            <th mat-header-cell *matHeaderCellDef > Number of repo </th>
            <td mat-cell *matCellDef="let element">
                <app-table-specific-column [url]="element.repos_url"></app-table-specific-column>
            </td>
        </ng-container>

        <ng-container matColumnDef="followers">
            <th mat-header-cell *matHeaderCellDef > Number of followers </th>
            <td mat-cell *matCellDef="let element">
                <app-table-specific-column [url]="element.followers_url"></app-table-specific-column>
            </td>
        </ng-container>

        <ng-container matColumnDef="images">
            <th mat-header-cell *matHeaderCellDef> Profile Image </th>
            <td mat-cell *matCellDef="let element" (click) = "openDialogInfo(element)" class="clickable"> <img src={{element.avatar_url}} height="150px"> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <div *ngIf=" ! data.length" class="no-results">
        No results
    </div>
</div>
<mat-spinner *ngIf="loading$ | async" mode="indeterminate"></mat-spinner>