table {
  width: 95%;
  margin-left: 2.5%;
}

mat-spinner{
    display: block;
    position: fixed;
    z-index: 1031;
    top: 50%;
    right: 50%; 
}

.no-results {
    text-align: center;
    padding: 1rem;
    font-style: italic;
    background-color: white;
  }

  .button-wrapper{
      float: right;
  }

  .mat-raised-button{
    background-color:red;
} 

  button{
      margin-right: 10px;
      margin-top: 10px;
  }

  .clickable:hover{
        cursor: pointer;
  }